.square{
    height: 190px;
    width: 190px;
    background-color: green;
    margin: 20px;
}
.main_div{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.container{
    height: 500px;
    overflow-y: scroll;
}